[Desktop Entry]
Encoding=UTF-8
Name=MX Date & Time
Name[am]=MX Date & Time
Name[ar]=MX Date & Time
Name[bg]=MX Date & Time
Name[ca]=MX Date & Time
Name[cs]=MX Date & Time
Name[da]=MX Dato og klokkeslæt
Name[de]=MX Date & Time
Name[el]=MX Date & Time
Name[es]=MX Fecha & Hora
Name[et]=MX Date & Time
Name[eu]=MX Date & Time
Name[fa]=MX Date & Time
Name[fi]=MX Date & Time
Name[fr]=MX Date et Heure
Name[he_IL]=MX Date & Time
Name[hi]=MX Date & Time
Name[hr]=MX Date & Time
Name[hu]=MX Date & Time
Name[id]=MX Date & Time
Name[is]=MX Date & Time
Name[it]=MX Data & Ora
Name[ja_JP]=MX Date & Time
Name[ja]=MX Date & Time
Name[kk]=MX Date & Time
Name[ko]=MX Date & Time
Name[lt]=MX Date & Time
Name[mk]=MX Date & Time
Name[mr]=MX Date & Time
Name[nb]=MX Date & Time
Name[nl]=MX Datum & Tijd
Name[pl]=MX Date & Time
Name[pt_BR]=MX Date & Time
Name[pt]= MX Data & Hora
Name[ro]=MX Date & Time
Name[ru]=MX Date & Time
Name[sk]=MX Date & Time
Name[sl]=MX Datum in ura
Name[sq]=MX Date & Time
Name[sr]=MX Date & Time
Name[sv]=MX Datum & Tid
Name[tr]=MX Tarih & Saat
Name[uk]=MX Date & Time
Name[zh_CN]=MX Date & Time
Name[zh_TW]=MX Date & Time
Comment=Date & Time Settings
Comment[am]=Date & Time Settings
Comment[ar]=Date & Time Settings
Comment[bg]=Date & Time Settings
Comment[ca]=Ajustos de Data i Hora
Comment[cs]=Date & Time Settings
Comment[da]=Indstillinger for dato og klokkeslæt
Comment[de]=Date & Time Settings
Comment[el]=Ρυθμίσεις ώρας και ημερομηνίας
Comment[es]=Configuración de Fecha & Hora
Comment[et]=Date & Time Settings
Comment[eu]=Date & Time Settings
Comment[fa]=Date & Time Settings
Comment[fi]=Date & Time Settings
Comment[fr]=Configuration de la date et de l'heure
Comment[he_IL]=Date & Time Settings
Comment[hi]=Date & Time Settings
Comment[hr]=Date & Time Settings
Comment[hu]=Date & Time Settings
Comment[id]=Date & Time Settings
Comment[is]=Date & Time Settings
Comment[it]=Impostazioni Data & Ora
Comment[ja_JP]=Date & Time Settings
Comment[ja]=Date & Time Settings
Comment[kk]=Date & Time Settings
Comment[ko]=Date & Time Settings
Comment[lt]=Date & Time Settings
Comment[mk]=Date & Time Settings
Comment[mr]=Date & Time Settings
Comment[nb]=Date & Time Settings
Comment[nl]=Datum & Tijd Instellingen
Comment[pl]=Date & Time Settings
Comment[pt_BR]=Date & Time Settings
Comment[pt]= Configurar Data & Hora
Comment[ro]=Date & Time Settings
Comment[ru]=Date & Time Settings
Comment[sk]=Date & Time Settings
Comment[sl]=Nastavitve ure in datuma
Comment[sq]=Date & Time Settings
Comment[sr]=Date & Time Settings
Comment[sv]=Datum & Tidsinställningar
Comment[tr]=Tarih ve Saat Ayarları
Comment[uk]=Date & Time Settings
Comment[zh_CN]=Date & Time Settings
Comment[zh_TW]=Date & Time Settings
Exec=su-to-root -X -c mx-datetime
Terminal=false
Type=Application
Icon=mx-datetime
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
