[Desktop Entry]
Encoding=UTF-8
Name=MX Date & Time
Name[ca]=MX Date & Time
Name[de]=MX Date & Time
Name[el]=MX Date & Time
Name[es]=MX Date & Time
Name[fr]=MX Date & Time
Name[it]=MX Date & Time
Name[ja]=MX Date & Time
Name[nl]=MX Date & Time
Name[sv]=MX Date & Time
Comment=Date & Time Settings
Comment[ca]=Date & Time Settings
Comment[de]=Date & Time Settings
Comment[el]=Date & Time Settings
Comment[es]=Date & Time Settings
Comment[fr]=Date & Time Settings
Comment[it]=Date & Time Settings
Comment[ja]=Date & Time Settings
Comment[nl]=Date & Time Settings
Comment[sv]=Date & Time Settings
Exec=su-to-root -X -c mx-datetime
Terminal=false
Type=Application
Icon=mx-datetime
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
