[Desktop Entry]
Encoding=UTF-8
Name=MX Date and Time
Name[ca]=MX Date and Time
Name[de]=MX Date and Time
Name[el]=MX Date and Time
Name[es]=MX Date and Time
Name[fr]=MX Date and Time
Name[it]=MX Date and Time
Name[ja]=MX Date and Time
Name[nl]=MX Date and Time
Name[sv]=MX Date and Time
Comment=Date and Time Settings
Comment[ca]=Date and Time Settings
Comment[de]=Date and Time Settings
Comment[el]=Date and Time Settings
Comment[es]=Date and Time Settings
Comment[fr]=Date and Time Settings
Comment[it]=Date and Time Settings
Comment[ja]=Date and Time Settings
Comment[nl]=Date and Time Settings
Comment[sv]=Date and Time Settings
Exec=su-to-root -X -c mx-datetime
Terminal=false
Type=Application
Icon=mx-datetime
Categories=GNOME;GTK;System;
NoDisplay=false
